use auxiliary/scanner/ftp/anonymous
set RHOSTS file:/home/ptest-2023/enumeration/targets_ftp.txt
spool FTP_anonymous.txt
run
spool off

use auxiliary/scanner/vnc/vnc_none_auth
set RHOSTS file:/home/ptest-2023/enumeration/targets_vnc.txt
spool vnc_noauth.txt
run
spool off

use auxiliary/scanner/nfs/nfsmount
set RHOSTS file:/home/ptest-2023/enumeration/targets_nfs.txt
set RPORT 2049
spool nfs_mounts.txt
run
spool off
